name: CI

on:
  push:
    branches: ["master"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies (windows)
        if: matrix.os == 'windows-latest'
        run: |
          choco install ninja nasm -y
          echo "C:\Program Files\NASM" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Install dependencies (macos)
        if: matrix.os == 'macos-latest'
        run: brew install go
      - name: Build
        run: cargo build --all-targets --all-features --verbose
      - name: Run tests
        run: cargo test --verbose --all-features

  lints:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Clippy
        run: cargo clippy --all-targets -- -D warnings
      - name: Fmt
        run: cargo fmt --all -- --check

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Doc
        run: cargo doc --all-features

  check-external-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2025-08-06
      - name: Setup
        run: cargo install cargo-check-external-types@0.3.0 --locked
      - name: Check Ext Types (wtransport)
        working-directory: wtransport/
        run: cargo check-external-types --all-features
      - name: Check Ext Types (wtransport-proto)
        working-directory: wtransport-proto/
        run: cargo check-external-types --all-features

  unused-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
      - name: Check Unused Deps
        uses: aig787/cargo-udeps-action@v1
        with:
          args: "--all-targets"
